[run]
source = migreat
omit =
    migreat/__main__.py
branch = True
dynamic_context = test_function

[report]
fail_under = 100
precision = 2
show_missing = True
skip_covered = True
skip_empty = True

[html]
directory = htmlcov
show_contexts = True
