[flake8]
# FS003: f-string not prefixed (a lot of false-positives)
# W503: line break before operator (goes against Black)
# PT019: this won't let us use pytest fixtures that don't inject value as argument
ignore = FS003,W503,PT019
# flake8-coding
no-accept-encodings = True
# flake8-pytest-style
pytest-parametrize-names-type = tuple
pytest-parametrize-values-type = tuple
pytest-parametrize-values-row-type = tuple
