black
coverage
flake8
flake8-2020
flake8-blind-except
flake8-breakpoint
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-coding
flake8-commas
flake8-comprehensions
flake8-if-expr
flake8-print
flake8-printf-formatting
flake8-pytest-style
flake8-return
flake8-tidy-imports
flake8-use-fstring
ipython
isort
pydocstyle
pytest
requests-mock
